/*Variables*/
/*Mixins*/
/*main.css*/
body {
  width: 100%;
  box-sizing: border-box; }

.header-navbar {
  width: 100%; }
  .header-navbar img {
    width: 100%;
    height: auto; }

.ribbon {
  padding: 0.5rem 0;
  background-color: #606060; }

.header {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header h4 {
    width: calc(100% - 100px); }
  .header .cerrar-sesion {
    color: #dc0028;
    font-size: 12px;
    text-decoration: none;
    display: inline-block; }

.tab-container {
  width: 150px;
  margin: 1rem 0; }
  .tab-container a {
    color: #dc0028; }
    .tab-container a:hover {
      text-decoration: none; }

.admin-wrapper {
  width: 100%;
  margin: auto;
  background-color: #f4f4f4;
  padding: 1rem;
  /* @media only screen and (min-width: 1024px){
     max-width: 1024px;
  } */
  min-height: calc(100vh - 200px);
  /*Platos*/ }
  .admin-wrapper .platos-wrapper .platos-lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
    .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      width: 33.33%;
      min-width: 300px; }
      @media only screen and (max-width: 678px) {
        .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item {
          margin: auto;
          width: 100%; } }
      .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item .lista-item-wrapper {
        width: 95%;
        margin: auto;
        max-width: 500px;
        margin: .5rem auto; }
        .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item .lista-item-wrapper .image {
          width: 100%;
          margin: auto; }
          .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item .lista-item-wrapper .image img {
            width: 100%;
            height: auto;
            max-width: 100%; }
        .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item .lista-item-wrapper p {
          margin-bottom: 0; }
      .admin-wrapper .platos-wrapper .platos-lista .platos-lista-item .prueba-imagen {
        width: 350px;
        height: 350px;
        background-size: cover;
        background-position: center center; }
  .admin-wrapper .intro-app {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .admin-wrapper .intro-app {
        width: 768px;
        margin: auto; } }
    .admin-wrapper .intro-app .btn-flex .btn-vermas {
      margin: 0; }

/*Formulario*/
.form-group .relative-element label {
  width: 100%;
  color: #606060; }
.form-group .relative-element input:not([type="file"]) {
  width: 100%;
  border: 1px solid #606060; }
  .form-group .relative-element input:not([type="file"]):focus {
    outline: none; }
.form-group .relative-element textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #606060; }
  .form-group .relative-element textarea:focus {
    outline: none; }
.form-group .relative-element.img-wrapper {
  margin: 1rem 0; }
.form-group.btn-flex {
  display: flex;
  justify-content: flex-start; }
  .form-group.btn-flex .btn-vermas:first-child {
    margin-right: 1rem; }
  .form-group.btn-flex.btn-bw {
    justify-content: space-between; }
.form-group input[type="submit"] {
  background-color: #4c851f;
  border: 2px solid #4c851f;
  color: #ffffff;
  cursor: pointer;
  min-width: 100px;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
  display: inline-block;
  text-align: center;
  text-decoration: none; }
.form-group .btn-vermas {
  background-color: #606060;
  border: 2px solid #606060;
  color: #ffffff;
  cursor: pointer;
  min-width: 100px;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: .5rem; }
.form-group .btn-atras {
  background-color: #dc0028;
  border: 2px solid #dc0028;
  color: #ffffff;
  cursor: pointer;
  min-width: 100px;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
  display: inline-block;
  text-align: center;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
